.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    /* font-size: 10.5px; */
   }
  
  .mt-2 {
    margin-top: 2rem;
  }
  
  .mat-fab.mat-primary{
    background-color:#17a2b8 ;
  }