<br>
<div class="form-group  row "  >
  <!-- <label for="inputPassword" class="col-lg-6 col-form-label">Code famille</label> -->
  <div id="codef">
    <!-- <input type="text" class="form-control" value= " "  > -->
    <p>code familler: <strong>{{code_famely}}</strong></p>  
  </div>
</div>
 
<div class="card">
   <div class="card-body">
    <mat-tab-group>
      <mat-tab  label="Pére"><app-pere ></app-pere></mat-tab>
      <mat-tab label="Mére"> <app-mere  ></app-mere> </mat-tab>
      <mat-tab label="Autre"> <app-autre ></app-autre></mat-tab>
    </mat-tab-group>
  </div>
  <button type="button" id="facturebutton"  class="btn btn-primary btn-lg btn-block fa fa-check"> Validation administration  </button>

</div>

<br><br>