.card-headerinfo {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.btnfamile{
    margin-left: 5%;
}

 
:host ::ng-deep .mat-tab-body-content {
    overflow: hidden !important;
}
#codef{
    margin-left: 20px; 
}
#facturebutton{
    /* border: 1px solid transparent; */
    position: relative;
    left: 20%;
    text-align:center;
    /* line-height:70px ; */
     width:200px ;
      border-radius: .70rem; 
      font-size:  x-large ;
      border-color: red;
      background-color:red ;
      color :black; 
      right: 50%; 
  }