<br><br>

<div class="card">
    <!-- <div class="card-header">
        Information
    </div>   -->
    <div class="card-body">
        <form [formGroup]="childForm" class="needs-validation" novalidate>

            <div class="row">
                <div class="  col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row" style="vertical-align: middle ; ">
                                <div class="col-lg-10">
                                    <h4 class="mb-3">Information :</h4>

                                    <strong>prenom:</strong> {{(child.prenom) ? child.prenom : '   ...'}}
                                    <strong>nom:</strong> {{(child.nom) ? child.nom : '   ...'}}
                                </div>

                                <div class="btn btn-sm btn-outline-secondary" class="icon-2x">
                                    <button *ngIf="!opencard" (click)="open('C1')" mat-fab color="primary">
                                        <mat-icon>keyboard_arrow_down</mat-icon>
                                    </button>
                                    <button *ngIf="opencard" (click)="open('C1')" mat-fab color="primary">
                                        <mat-icon>keyboard_arrow_up</mat-icon>
                                    </button>
                                </div>
                            </div>

                        </div>
                        <div class="card-body" *ngIf="opencard">
                            <div class="content" fxLayout="column" fxLayoutAlign="start start" fxFlex>

                                <div class="row">
                                    <div class="col-md-3 mb-3">
                                        <label for="firstName">Prenom</label>
                                        <input [(ngModel)]="child.prenom" type="text" class="form-control" id="prenom"
                                            formControlName="prenom">
                                        <div class="invalid-feedback">
                                            Valid Prenon is required.
                                        </div>
                                    </div>

                                    <div class="col-md-3 mb-3">
                                        <label for="firstName">Date</label>
                                        <input type="date" class="form-control" id="date" formControlName="date">

                                        <div class="invalid-feedback">
                                            Valid Date is required.
                                        </div>
                                    </div>

                                    <div class="col-md-3 mb-3">
                                        <label for="country">Niveau scolaire</label>
                                        <select class="custom-select d-block w-100" class="form-control" formControlName="scolaire">
                                            <option selected>Niveau...</option>

                                            <option _ngcontent-gnj-c94="" value="TPS" ng-reflect-value="TPS">
                                                Indéterminé </option>
                                            <option _ngcontent-gnj-c94="" value="TPS" ng-reflect-value="TPS"> Maternelle
                                                (TPS) </option>
                                            <option _ngcontent-gnj-c94="" value="PS" ng-reflect-value="PS">Maternelle
                                                (PS) </option>
                                            <option _ngcontent-gnj-c94="" value="MS" ng-reflect-value="MS">Maternelle
                                                (MS) </option>
                                            <option _ngcontent-gnj-c94="" value="GS" ng-reflect-value="GS">Maternelle
                                                (GS) </option>
                                            <option _ngcontent-gnj-c94="" value="CP" ng-reflect-value="CP">Cours
                                                préparatoire (CP) </option>
                                            <option _ngcontent-gnj-c94="" value="CE1" ng-reflect-value="CE1">Cours
                                                élémentaire 1 (CE1) </option>
                                            <option _ngcontent-gnj-c94="" value="CE2" ng-reflect-value="CE2">Cours
                                                élémentaire 2 (CE2) </option>
                                            <option _ngcontent-gnj-c94="" value="CM1" ng-reflect-value="CM1">Cours moyen
                                                1 (CM1) </option>
                                            <option _ngcontent-gnj-c94="" value="CM2" ng-reflect-value="CM2">Cours moyen
                                                2 (CM2) </option>
                                            <option _ngcontent-gnj-c94="" value="SIX" ng-reflect-value="SIX">Sixième
                                            </option>
                                            <option _ngcontent-gnj-c94="" value="CIQ" ng-reflect-value="CIQ">Cinquième
                                            </option>
                                            <option _ngcontent-gnj-c94="" value="Quat" ng-reflect-value="Quat">Quatrième
                                            </option>
                                            <option _ngcontent-gnj-c94="" value="Trois" ng-reflect-value="Trois">
                                                Troisième</option>
                                            <option _ngcontent-gnj-c94="" value="SEC" ng-reflect-value="SEC">Seconde
                                            </option>
                                            <option _ngcontent-gnj-c94="" value="Prem" ng-reflect-value="Prem">Première
                                            </option>
                                            <option _ngcontent-gnj-c94="" value="TERM" ng-reflect-value="TERM">Terminal
                                            </option>
                                            <option _ngcontent-gnj-c94="" value="POSTBAC" ng-reflect-value="POSTBAC">
                                                Post Bac</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Please select a valid Niveau scolaire.
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3 mb-3">
                                        <label for="lastName">Nom</label>
                                        <input [(ngModel)]="child.nom" type="text" class="form-control" id="nom"
                                            formControlName="nom">
                                        <div class="invalid-feedback">
                                            Valid Nom is required.
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label for="Genre">Genre</label>
                                        <select class="custom-select d-block w-100" class="form-control"
                                            formControlName="genre">
                                            <option selected value="Masculin">Masculin</option>
                                            <option value="feminin">feminin</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Please select a valid Genre.
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <br><br>


            </div>

            <!-- <div class="row">
                <div class="col-lg-10"></div>
                <div class="col-lg-2">
                    <img  src="assets/etudiant.png" alt="" width="100" height="100">
                </div>
            </div> -->

            <div class="row">
                <div class=" col-lg-8">
                    <div class="card">
                        <!-- <div class="card-header">
                            <h4 class="mb-3">matiéres souhaités</h4>
                        </div> -->
                        <div class="card-body">
                            <!-- <h5 class="card-title">Special title treatment</h5> -->
                            <h3 class="card-titleadress">Matiéres souhaités</h3>
                            <br>
 
                            <div class="content" fxLayout="column" fxLayoutAlign="start start" fxFlex>
                                <div  class="form-group row">
                                    <label for="inputPassword" class="col-lg-1 col-form-label"> </label>
                                    <div class="col-lg-2" style="text-align:center;">
                                        Note:
                                     </div>
                                    <div class="col-lg-9 row"   >
                                        <div class="col-lg-3" style="text-align:center;">
                                            Formule présentiel
                                         </div>
                                         <div class="col-lg-4" style="text-align:center;">
                                            Format
                                         </div>
                                         <div class="col-lg-4" >
                                            Formule en ligne
                                         </div>
                                    </div>
                                </div>
                              
                            </div>

                            <div class="content" fxLayout="column" fxLayoutAlign="start start" fxFlex>
                                <div  class="form-group row">
                                    <label for="inputPassword" class="col-lg-1 col-form-label">Math</label>
                                    <div class="col-lg-2">
                                        <input type="number" class="form-control-xs" formControlName="math">
                                    </div>
                                    <div class="col-lg-9 row" style="margin-top: -1%;">
                                        <div class="radio-toolbar ">
                                            <input type="radio" id="radioApple" formControlName="formulepresentiel"
                                                name="formulepresentiel" value="F-P-1">
                                            <label for="radioApple">Auccune</label>

                                            <input type="radio" id="radioBanana" formControlName="formulepresentiel"
                                                name="formulepresentiel" value="F-P-2">
                                            <label style="border-left: 0px" for="radioBanana">Anuelle</label>

                                            <input type="radio" id="radioOrange" formControlName="formulepresentiel"
                                                name="formulepresentiel" value="F-P-3">
                                            <label style="border-left: 0px" for="radioOrange">Trimestriel</label>
                                        </div>
                                        <div class="radio-toolbar">
                                            <input type="radio" id="Group" formControlName="format" name="format"
                                                value="F-1">
                                            <label for="Group">Group</label>
                                            <input type="radio" id="Particulier" formControlName="format" name="format"
                                                value="F-2">
                                            <label style="border-left: 0px" for="Particulier">Particulier</label>
                                        </div>
                                        <div class="radio-toolbar">
                                            <input type="radio" id="Auccune" formControlName="formuleEnLinge"
                                                name="formuleEnLinge" value="F-L-1">
                                            <label for="Auccune">Auccune</label>
                                            <input type="radio" id="Anuelle" formControlName="formuleEnLinge"
                                                name="formuleEnLinge" value="F-L-2">
                                            <label style="border-left: 0px" for="Anuelle">Anuelle</label>
                                            <input type="radio" id="Trimestriel" formControlName="formuleEnLinge"
                                                name="formuleEnLinge" value="F-L-3">
                                            <label style="border-left: 0px" for="Trimestriel">Trimestriel</label>
                                        </div>
                                        <div class="example-button-container">
                                            <button *ngIf="!opencard1" (click)="open('B1')" mat-fab color="primary"
                                                class="icon-2x ">
                                                <mat-icon>keyboard_arrow_down</mat-icon>
                                            </button>
                                            <button *ngIf="opencard1" (click)="open('B1')" mat-fab color="primary"
                                                class="icon-2x ">
                                                <mat-icon>keyboard_arrow_up</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row" *ngIf="opencard1">
                                    <div class="col-lg-1">
                                    </div>
                                    <div class="col-lg-2">
                                    </div>
                                    <div class="col-lg-9 row">
                                        <div class="col-lg-6">
                                            <select class="browser-default custom-select">
                                                <option selected>Aucun groupe  </option>
                                                <option value="1">Groupe SAM-AM-MTH-TER-01(1/9)</option>
                                                <option value="2">Groupe SAM-AM-MTH-TER-02(3/6)</option>
                                                <option value="3">Groupe SAM-AM-MTH-TER-013(2/7)</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <select class="browser-default custom-select">
                                                <option selected>Aucun groupe </option>
                                                 <option value="1">Groupe 8AM-MTH-TER--01(1/9)</option>
                                                <option value="2">Groupe 8AM-MTH-TER--02(3/6)</option>
                                                <option value="3">Groupe 8AM-MTH-TER--013(2/7)</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content" fxLayout="column" fxLayoutAlign="start start" fxFlex>
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-lg-1 col-form-label">Physique chime</label>
                                    <div class="col-lg-2">
                                        <input type="number" class="form-control-xs" formControlName="physiquechime">
                                    </div>
                                    <div class="col-lg-9 row" style="margin-top: -1%;">
                                        <div class="radio-toolbar ">
                                            <input type="radio" id="1" formControlName="formulepresentiel1"
                                                name="formulepresentiel1" value="F-P-1">
                                            <label for="1">Auccune</label>
                                            <input type="radio" id="2" formControlName="formulepresentiel1"
                                                name="formulepresentiel1" value="F-P-2">
                                            <label style="border-left: 0px" for="2">Anuelle</label>
                                            <input type="radio" id="3" formControlName="formulepresentiel1"
                                                name="formulepresentiel1" value="F-P-3">
                                            <label style="border-left: 0px" for="3">Trimestriel</label>

                                        </div>
                                        <div class="radio-toolbar">
                                            <input type="radio" id="4" formControlName="format1" name="format1"
                                                value="F-1">
                                            <label for="4">Group</label>
                                            <input type="radio" id="5" formControlName="format1" name="format1"
                                                value="F-2">
                                            <label style="border-left: 0px" for="5">Particulier</label>
                                        </div>
                                        <div class="radio-toolbar">
                                            <input type="radio" id="6" formControlName="formuleEnLinge1"
                                                aria-selected="true" name="formuleEnLinge1" value="F-L-1">
                                            <label for="6">Auccune</label>
                                            <input type="radio" id="7" formControlName="formuleEnLinge1"
                                                name="formuleEnLinge1" value="F-L-2">
                                            <label style="border-left: 0px" for="7">Anuelle</label>
                                            <input type="radio" id="8" formControlName="formuleEnLinge1"
                                                name="formuleEnLinge1" value="F-L-3">
                                            <label style="border-left: 0px" for="8">Trimestriel</label>
                                        </div>
                                        <div class="example-button-container">
                                            <button *ngIf="!opencard2" (click)="open('B2')" mat-fab color="primary"
                                                class="icon-2x ">
                                                <mat-icon>keyboard_arrow_down</mat-icon>
                                            </button>
                                            <button *ngIf="opencard2" (click)="open('B2')" mat-fab color="primary"
                                                class="icon-2x ">
                                                <mat-icon>keyboard_arrow_up</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row" *ngIf="opencard2">
                                    <div class="col-lg-1">
                                    </div>
                                    <div class="col-lg-2">
                                    </div>
                                    <div class="col-lg-9 row">
                                        <div class="col-lg-6">
                                            <select class="browser-default custom-select">
                                                 <option selected>Aucun groupe  </option>
                                                <option value="1">Groupe SAM-AM-FC-TER-01(3/7)</option>
                                                <option value="2">Groupe SAM-AM-FC-TER-02(3/6)</option>
                                                <option value="3">Groupe SAM-AM-FC-TER-013(2/7)</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <select class="browser-default custom-select">
                                                 <option selected>Aucun groupe </option>
                                                <option value="1">Groupe 8AM-FC-TER-01(6/7)</option>
                                               <option value="2">Groupe 8AM-FC-TER-02(3/6)</option>
                                               <option value="3">Groupe 8AM-FC-TER-013(2/7)</option>
                                              
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content" fxLayout="column" fxLayoutAlign="start start" fxFlex>
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-lg-1 col-form-label">Français</label>
                                    <div class="col-lg-2">
                                        <input type="number" class="form-control-xs" formControlName="français">
                                    </div>
                                    <div class="col-lg-9 row" style="margin-top: -1%;">
                                        <div class="radio-toolbar ">
                                            <input type="radio" id="9ZZZ" formControlName="formulepresentiel2"
                                                name="formulepresentiel2" value="F-P-1">
                                            <label for="9ZZZ">Auccune</label>
                                            <input type="radio" id="22" formControlName="formulepresentiel2"
                                                name="formulepresentiel2" value="F-P-2">
                                            <label style="border-left: 0px" for="22">Anuelle</label>
                                            <input type="radio" id="33" formControlName="formulepresentiel2"
                                                name="formulepresentiel2" value="F-P-3">
                                            <label style="border-left: 0px" for="33">Trimestriel</label>
                                        </div>
                                        <div class="radio-toolbar">
                                            <input type="radio" id="44" formControlName="format2" name="format2"
                                                value="F-1">
                                            <label for="44">Group</label>
                                            <input type="radio" id="55" formControlName="format2" name="format2"
                                                value="F-2">
                                            <label style="border-left: 0px" for="55">Particulier</label>
                                        </div>
                                        <div class="radio-toolbar">
                                            <input type="radio" id="66" formControlName="formuleEnLinge2"
                                                name="formuleEnLinge2" value="F-L-1">
                                            <label for="66">Auccune</label>
                                            <input type="radio" id="77" formControlName="formuleEnLinge2"
                                                name="formuleEnLinge2" value="F-L-2">
                                            <label style="border-left: 0px" for="77">Anuelle</label>
                                            <input type="radio" id="88" formControlName="formuleEnLinge2"
                                                name="formuleEnLinge2" value="F-L-3">
                                            <label style="border-left: 0px" for="88">Trimestriel</label>
                                        </div>
                                        <div class="example-button-container">
                                            <button *ngIf="!opencard3" (click)="open('B3')" mat-fab color="primary"
                                                class="icon-2x ">
                                                <mat-icon>keyboard_arrow_down</mat-icon>
                                            </button>
                                            <button *ngIf="opencard3" (click)="open('B3')" mat-fab color="primary"
                                                class="icon-2x ">
                                                <mat-icon>keyboard_arrow_up</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row" *ngIf="opencard3">
                                    <div class="col-lg-1">
                                    </div>
                                    <div class="col-lg-2">
                                    </div>
                                    <div class="col-lg-9 row">
                                        <div class="col-lg-6">
                                            <select class="browser-default custom-select">
                                                 <option selected>Aucun groupe  </option>
                                                <option value="1">Groupe SAM-AM-FR-TER-01(2/7)</option>
                                                <option value="2">Groupe SAM-AM-FR-TER-02(3/6)</option>
                                                <option value="3">Groupe SAM-AM-FR-TER-03(2/7)</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <select class="browser-default custom-select">
                                                 <option selected>Aucun groupe </option>
                                                <option value="1">Groupe  8AM-fr-TER-01(3/7)</option>
                                               <option value="2"> Groupe  8AM-fr-TER--02(3/6)</option>
                                               <option value="3"> Groupe  8AM-fr-TER--03(2/7)</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content" fxLayout="column" fxLayoutAlign="start start" fxFlex>
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-lg-1 col-form-label">Anglais</label>
                                    <div class="col-lg-2">
                                        <input type="number" class="form-control-xs" formControlName="anglais">
                                    </div>
                                    <div class="col-lg-9 row" style="margin-top: -1%;">
                                        <div class="radio-toolbar ">
                                            <input type="radio" id="111" formControlName="formulepresentiel3"
                                                name="formulepresentiel3" value="F-P-1">
                                            <label for="111">Auccune</label>
                                            <input type="radio" id="222" formControlName="formulepresentiel3"
                                                name="formulepresentiel3" value="F-P-2">
                                            <label style="border-left: 0px" for="222">Anuelle</label>
                                            <input type="radio" id="333" formControlName="formulepresentiel3"
                                                name="formulepresentiel3" value="F-P-3">
                                            <label style="border-left: 0px" for="333">Trimestriel</label>
                                        </div>
                                        <div class="radio-toolbar">
                                            <input type="radio" id="444" formControlName="format3" name="format3"
                                                value="F-1">
                                            <label for="444">Group</label>
                                            <input type="radio" id="555" formControlName="format3" name="format3"
                                                value="F-2">
                                            <label style="border-left: 0px" for="555">Particulier</label>
                                        </div>
                                        <div class="radio-toolbar">
                                            <input type="radio" id="666" formControlName="formuleEnLinge3"
                                                name="formuleEnLinge3" value="F-L-1">
                                            <label for="666">Auccune</label>
                                            <input type="radio" id="777" formControlName="formuleEnLinge3"
                                                name="formuleEnLinge3" value="F-L-2">
                                            <label style="border-left: 0px" for="777">Anuelle</label>
                                            <input type="radio" id="888" formControlName="formuleEnLinge3"
                                                name="formuleEnLinge3" value="F-L-3">
                                            <label style="border-left: 0px" for="888">Trimestriel</label>
                                        </div>
                                        <div class="example-button-container">
                                            <button *ngIf="!opencard4" (click)="open('B4')" mat-fab color="primary"
                                                class="icon-2x ">
                                                <mat-icon>keyboard_arrow_down</mat-icon>
                                            </button>
                                            <button *ngIf="opencard4" (click)="open('B4')" mat-fab color="primary"
                                                class="icon-2x ">
                                                <mat-icon>keyboard_arrow_up</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row" *ngIf="opencard4">
                                    <div class="col-lg-1">
                                    </div>
                                    <div class="col-lg-2">
                                    </div>
                                    <div class="col-lg-9 row">
                                        <div class="col-lg-6">
                                            <select class="browser-default custom-select">
                                                 <option selected>Aucun groupe  </option>
                                                <option value="1">Groupe  SAM-AM-ANG-TER-01(2/7)</option>
                                                <option value="2">Groupe  SAM-AM-ANG-TER-02(3/6)</option>
                                                <option value="3">Groupe  SAM-AM-ANG-TER-03(2/7)</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <select class="browser-default custom-select">
                                                 <option selected>Aucun groupe </option>
                                                <option value="1">Groupe 8AM-ANG-TER-01(3/7)</option>
                                               <option value="2"> Groupe 8AM-ANG-TER--02(3/6)</option>
                                               <option value="3"> Groupe 8AM-ANG-TER--03(2/7)</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   
                    <div class="row">
                        <div class="col-lg-7"> 
                        </div>
                        <div class="col-lg-2"> 
                            <label for="firstName">coût calculé pour {{child.prenom}} </label>
                          
                        </div>
                        <div class="col-lg-2"> 
                            <input  type="text" class="form-control" id="prix"
                            formControlName="prix">
                        </div>
                    </div>
                </div>
                </div>
<br><br>

                <div class=" col-lg-4"  >
                    <div class="card">
                        <!-- <div class="card-header">
                            Disponibilités
                        </div> -->
                        <div class="card-body">
                            <h3 class="card-titleadress">Disponibilités</h3>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="text-align: left;">

                                        </th>
                                        <th style="text-align: center;">
                                            Matin
                                        </th>
                                        <th style="text-align: center;">
                                            Aprés-midi
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <!-- <td style="text-align: left;">lundi </td> -->
                                        <td style="text-align: left;">lun </td>

                                        <th>
                                            <!-- <div style="margin-left: 44%;" class="custom-control custom-switch"> -->
                                                <div  class="custom-control custom-switch">

                                                <mat-slide-toggle formControlName="lundi" name="lundi">
                                                </mat-slide-toggle>
                                            </div>
                                        </th>
                                        <th>
                                            <!-- <div style="margin-left: 40%;" class="custom-control custom-switch"> -->
                                                <div   class="custom-control custom-switch">
                                                <mat-slide-toggle formControlName="lundi1" name="lundi1">
                                                </mat-slide-toggle>
                                            </div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <!-- <td style="text-align: left;">mardi </td> -->
                                        <td style="text-align: left;">Mar </td>

                                        <th>
                                            <div   class="custom-control custom-switch">
                                                <mat-slide-toggle formControlName="mardi" name="mardi">
                                                </mat-slide-toggle>
                                            </div>
                                        </th>
                                        <th>
                                            <div   class="custom-control custom-switch">
                                                <mat-slide-toggle formControlName="mardi1" name="mardi1">
                                                </mat-slide-toggle>
                                            </div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <!-- <td style="text-align: left;">Mercredi </td> -->
                                        <td style="text-align: left;">Mer </td>

                                        <th>
                                            <div   class="custom-control custom-switch">
                                                <mat-slide-toggle formControlName="mercredi" name="mercredi">
                                                </mat-slide-toggle>
                                            </div>
                                        </th>
                                        <th>
                                            <div   class="custom-control custom-switch">
                                                <mat-slide-toggle formControlName="mercredi1" name="mercredi1">
                                                </mat-slide-toggle>
                                            </div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <!-- <td style="text-align: left;">jeudi </td> -->
                                        <td style="text-align: left;">Jeu</td>

                                        <th>
                                            <div   class="custom-control custom-switch">
                                                <mat-slide-toggle formControlName="jeudi" name="jeudi">
                                                </mat-slide-toggle>
                                            </div>
                                        </th>
                                        <th>
                                            <div   class="custom-control custom-switch">
                                                <mat-slide-toggle formControlName="jeudi1" name="jeudi1">
                                                </mat-slide-toggle>
                                            </div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <!-- <td style="text-align: left;">vendredi </td> -->
                                        <td style="text-align: left;">Vend </td>

                                        <th>
                                            <div  class="custom-control custom-switch">
                                                <mat-slide-toggle formControlName="vendredi" name="vendredi">
                                                </mat-slide-toggle>
                                            </div>
                                        </th>
                                        <th>
                                            <div  class="custom-control custom-switch">
                                                <mat-slide-toggle formControlName="vendredi1" name="vendredi1">
                                                </mat-slide-toggle>
                                            </div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <!-- <td style="text-align: left;">samedi </td> -->
                                        <td style="text-align: left;">Sam </td>

                                        <th>
                                            <div   class="custom-control custom-switch">
                                                <mat-slide-toggle formControlName="samedi" name="samedi">
                                                </mat-slide-toggle>
                                            </div>
                                        </th>
                                        <th>
                                            <div  class="custom-control custom-switch">
                                                <mat-slide-toggle formControlName="samedi1" name="samedi1">
                                                </mat-slide-toggle>
                                            </div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <!-- <td style="text-align: left;">dimanche </td> -->
                                        <td style="text-align: left;">Dim</td>

                                        <th>
                                            <div   class="custom-control custom-switch">
                                                <mat-slide-toggle formControlName="dimanche" name="dimanche">
                                                </mat-slide-toggle>
                                            </div>
                                        </th>
                                        <th>
                                            <div   class="custom-control custom-switch">
                                                <mat-slide-toggle formControlName="dimanche1" name="dimanche1">
                                                </mat-slide-toggle>
                                            </div>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                      
                    </div>
                    <br>
                 
                 <button type="button" id="facturebutton"  class="btn btn-primary btn-lg btn-block fa fa-print"> facture  </button>

              

                 </div>
                
               
                 <!--   <div class="card"> -->
            </div>

            <br>

            <div class="row">
                <div class="col-lg-3 ">
                </div>
                <div class="col-lg-6">
                    <div  class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div id="addbutton" class="btn-group mr-2" role="group" aria-label="Second group">
                            <!-- <i class="material-icons" (click)="removeTab(tabIndex)">  close </i> -->
                            <button type="button" class="btn btn-info">Je desinscrit
                                {{(child.prenom) ? child.prenom : '   ...'}} </button>
                        </div>
                        <div  id="addbutton" class="btn-group mr-2" role="group" aria-label="First group">
                            <button type="button" class="btn btn-info" (click)="onSubmit(childForm)">j'inscrit
                                {{(child.prenom) ? child.prenom : '   ...'}} </button>
                        </div>
                    </div>
                </div>

            </div>

        </form>

    </div>
</div>